
<% if logged_in? %>
  <%= render 'users/user_info'%>
  <%= render 'top/feed'%>
<% else %>
    <%= render 'sessions/new' %>
    <p class="text-center">新規登録は<%= link_to "こちら", signup_path %></p>
<% end %>