
<% if logged_in? %>
    <h2 class="text-center"><%= link_to @current_user.name, user_path(@current_user) %></h2>
<% else %>
    <%= render 'sessions/new' %>
    <p class="text-center">新規登録は<%= link_to "こちら", signup_path %></p>
<% end %>