<div>
  <h1>最新投稿一覧</h1>
    <%= render @posts %>
  <%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt',
      renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</div>